<template>
    <div>
        <p>Full Name: {{ fulName }}</p>
        <button @click="changeName">changeName</button>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                firstName: "Tony",
                lastName: "Stack"
            }
        },
        computed: {
            fulName: {
                get(){return this.firstName + " " + this.lastName

                },
                set(value){
                    const name = value.split(" ")
                    this.firstName = name[0]
                    this.lastName = name[1]
                }
            }
        },
        methods: {
            changeName() {
                this.fulName = 'Iron Man'

            }
        },
    }
</script>